#forget-password-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    /* background: linear-gradient(135deg, #bc5388 0%, #c51975 100%); */
    padding: 20px;
}

#forget-password-header {
    font-size: 36px;
    color: rgb(70, 61, 61);
    margin-bottom: 20px;
}

#forget-password-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
}

.forget-password-form-group-name,
.forget-password-form-group-email,
.forget-password-form-group-new-password,
.forget-password-form-group-confirm-password {
    margin-bottom: 15px;
    margin-right: 22px;
}

.forget-password-form-group-name label,
.forget-password-form-group-email label,
.forget-password-form-group-new-password label,
.forget-password-form-group-confirm-password label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#forget-name,
#forget-email,
#forget-new-password,
#forget-confirm-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#forget-password-submit-button {
    background: #ff69b4;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    width: 100%;
}

#forget-password-submit-button:hover {
    background: #ff1493;
    transform: scale(1.05);
}

#forget-password-message {
    margin-top: 20px;
    font-size: 16px;
    color: #ff0000;
}

@media (max-width: 600px) {
    #forget-password-header {
        font-size: 28px;
    }

    #forget-password-form {
        padding: 15px;
    }

    #forget-password-submit-button {
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #forget-password-header {
        font-size: 32px;
    }

    #forget-password-form {
        padding: 18px;
    }

    #forget-password-submit-button {
        font-size: 17px;
    }
}

@media (min-width: 1025px) {
    #forget-password-header {
        font-size: 36px;
    }

    #forget-password-form {
        padding: 20px;
    }

    #forget-password-submit-button {
        font-size: 18px;
    }
}
