.update-user-container {
    background-color: #acaab1;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 30px auto;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.update-user-title {
    color: #181515;
    margin-bottom: 20px;
    font-size: 1.6em;
    text-align: center;
}

.update-user-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-user-label {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #0f0f0f;
}

.update-user-select, 
.update-user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #fff;
    box-sizing: border-box;
}

.update-user-select {
    background-color: #ddd8d8;
}

.update-user-input {
    background-color: #ffffff;
}

.update-user-button {
    font-size: 1rem;
    background-color: #383737;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.update-user-button:hover {
    background-color: #2c2b2c;  
    color: #fff;
}

.update-user-container select:focus, 
.update-user-container input:focus {
    background-color: #ffffff;
    border-color: #141314;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.3);
}
